{lib_dirs,["apps"]}.
{deps_dir,["deps"]}.
{erl_opts, [
   warn_export_all,
   % warn_missing_spec,
   % warnings_as_errors,
   debug_info,
	{d, 'WITH_JIFFY'}
]}.
{xref_checks, [
   undefined_function_calls,
   deprecated_function_calls,
   locals_not_used
]}.
{escript_incl_apps, [jiffy]}.
{deps, [
   {jiffy,  ".*", {git, "https://github.com/davisp/jiffy"}},
	{jesse, ".*", {git, "https://github.com/for-GET/jesse"}},
	{couchbeam, ".*", {git, "https://github.com/benoitc/couchbeam"}},
	{fs_sync, ".*", {git, "https://github.com/jamhed/fs_sync"}}
]}.
